{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  &nbsp;•&nbsp;
  {{- $total := len . }}
  {{- range $index, $element := . }}
    <a href="{{ $element.RelPermalink }}">{{ $element.LinkTitle | lower }}</a>
    {{- if ne (add $index 1) $total }} &nbsp;•&nbsp; {{ end }}
  {{- end }}
{{- end }}
